.filter{
    padding: 20px;
}
.filter input, .filter select{
    border-radius: 10px;
    border:none;
    padding: 5px;
    font-size: 1.2rem;
    margin: 5px 5px 5px 10px;
}
.filter h2{
    margin-bottom: 10px;
    font-size: 2em;
    font-family: 'Baloo Chettan', cursive;
}
.filter label{
    font-weight: bold;
    margin-left: 5%;
    display: block;
}
