.list{
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card{
    flex-basis: 20%;
    margin: 10px 15px 50px 15px;
    position: relative;
    text-align: center;
}
